body {
    margin: 0;
    padding: 0;
    background: #fff;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a:visited {
    color: black;
}
.header_contact {
    display: flex;
    justify-content: space-between;
    margin: 15px 45px;
}
.header_lien {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.agence_logo {
    width: 500px;
    height: 100px;
}

.main_contact {
    margin: 16px 0 0 64px;
    text-align: center;
}

.paragraph_contact {
    font-size: 20px;
}


.boxformulaire {
    margin: 30px auto 65px auto;
    padding: 50px;
    width: 1000px;
    height: 1057px;
    background-color: #f3976c;
    border-radius: 5px;
}
.emailInp,
textarea {
    display: block;
    margin: 20px auto;
    outline: 0;
    background-color: #f1f1f1;
    width: 95%;
    border: 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 5px;
    resize: none;
}
textarea {
    width: 100%;
}
.labelConnaissance,
.labelEmail,
.labelProjet {
    color: #000;
    display: block;
    margin: 0 auto;
    width: 95%;
    position: relative;
    top: 7px;
}
.flex2inputs {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}
.flexInp {
    margin: 20px auto;
    outline: 0;
    background-color: #f1f1f1;
    width: 90%;
    border: 0;
    padding: 15px;
    font-size: 14px;
    border-radius: 5px;
}
.flexLeftInp,
.flexRightInp {
    flex-basis: 45%;
}
.labelFlex {
    color: #000;
    position: relative;
    top: 8px;
}
.boxformulaire button {
    width: 45%;
    display: block;
    margin: 45px auto 0 auto;
    outline: 0;
    border: 0;
    height: 50px;
    transition: all 0.2s linear;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
.boxformulaire button:hover {
    background-color: #90ee90;
}
@media screen and (max-width: 1050px) {
    .boxformulaire {
        width: 800px;
    }
}
@media screen and (max-width: 870px) {
    .boxformulaire {
        width: 90%;
    }
}
@media screen and (max-width: 670px) {
    .boxformulaire {
        width: 90%;
    }
}
@media screen and (max-width: 550px) {
    .boxformulaire {
        padding: 5px;
        width: 90%;
        height: 1150px;
    }
    .flex2inputs {
        flex-direction: column;
    }
}
footer {
    background-color: #f3976c;
    padding-top: 50px;
    padding-bottom: 10px;
}
.social_medias_list {
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.social_medias_list span {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}


@media (max-width: 700px) {
    .header_contact {
        flex-direction: column;
        gap: 40px;
        margin: 15px 5px;
    }
    .main_contact {
        margin: 16px 0 0 5px;
    }
}

@media (max-width: 530px) {
    .agence_logo {
        width: 250px;
        height: 50px;
    }
}